# toplevel
/.bundle/

# anywhere in the tree
*~
.DS_Store
.ruby-version
coverage

.idea/.name

.idea/.rakeTasks

.idea/encodings.xml

.idea/homebrew-cask.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
